@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply antialiased;
    @apply text-neutral-200;
    @apply bg-neutral-950;
    --app-width: 640px;
  }

  html,
  body {
    @apply bg-neutral-950;
  }

  main {
    @apply mx-auto;
    @apply my-4;
    @apply max-w-full;
    @apply w-[var(--app-width)];
    @apply px-4;
    @apply md:px-0;
    @apply pb-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
    @apply tracking-wide;
  }

  h1 {
    @apply text-xl;
  }

  hr {
    @apply bg-neutral-800;
    @apply h-px;
    @apply border-0;
  }

  a[href="https://put.io"]
  {
    color: #fdce45;
    @apply font-semibold;
    @apply no-underline;
    @apply hover:underline;
  }

  a[href="https://klarna.com"]
  {
    color: rgb(255, 179, 199);
    @apply font-semibold;
    @apply no-underline;
    @apply hover:underline;
  }

  a[href="https://lisk.io"]
  {
    color: #4070f4;
    @apply font-semibold;
    @apply no-underline;
    @apply hover:underline;
  }
}
