@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-width: 640px;
  }

  html {
    @apply antialiased;
    @apply text-white;
    background-color: #101010;
  }

  main {
    @apply mx-auto;
    @apply my-4;
    @apply max-w-full;
    @apply w-[var(--app-width)];
    @apply px-4;
    @apply md:px-0;
  }

  h1 {
    @apply text-xl;
    @apply font-semibold;
    @apply tracking-wide;
  }

  hr {
    @apply bg-zinc-800;
    @apply h-px;
    @apply border-0;
  }

  a[href="https://put.io"]
  {
    color: #fdce45;
    @apply hover:text-white;
    @apply font-semibold;
  }

  a[href="https://klarna.com"]
  {
    color: rgb(255, 179, 199);
    @apply font-semibold;
    @apply hover:text-white;
  }

  a[href="https://lisk.io"]
  {
    color: #4070f4;
    @apply font-semibold;
    @apply hover:text-white;
  }
}
